.dropZone{
  border: 3px dashed #7a00cc;
  background-color: #f5e6ff;
  border-radius: 4px;
}
#canvas{
  border: 2px dashed #cc80ff;
  border-radius: 4px;
  /* background-color: #f5e6ff; */
}
